{% extends 'base.html' %}
{% block body_block %}

    {% comment %} Header {% endcomment %}
    <header class='pb-3 mb-4 border-bottom'>
        <span class='fs-4'>Simple Schools</span>
    </header>

    {% comment %} Jumbotron {% endcomment %}
    <div class='p-5 mb-4 bg-light rounded-3'>
        <div class='container-fluid py-5'>
            <h1 class='display-5 fw-bold'>Home page</h1>
            <p class='col-md-8 fs-4'>Welcome to the home page of the simple schools app!</p>
        </div>
    </div>

{% endblock body_block %}