<!DOCTYPE html>
{% load static %}  <!-- Template tag to load static files. Always goes below the "DOCTYPE html" line -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite Pokemon</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Here is a picture of my favorite pokemon</h1>
  <img src="{% static 'images/slaking.png' %}" alt="Uh oh, Slaking must be sleeping!">
</body>
</html>