h1{
    font-family: 'Rubik Wet Paint', cursive;
    text-align: center;
}

table{
    margin: auto;
    width: 30em;
    height: 15em;
}

td{
    border: 5px solid white;
}

#one{
    background-color: #F6BD60;
}

#two{
    background-color: #F7EDE2;
}

#three{
    background-color: #F5CAC3;
}

#four{
    background-color: #84A59D;
}

#five{
    background-color: #F28482;
}